body {
  padding: 0;
  margin: 0;
}

.main {
  // height: 800px !important;
  width: 800px !important;
  margin-left: 220px !important;
  //margin-bottom: 20px !important;
  margin-bottom: 20px;
  // padding-bottom: 200px;
}

.rowButton {
  border: 1px thick solid black;
}

.delete_btn {
  border-radius: 100%;
  color: #fff;
  object-fit: contain;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: none;
}

.edit_btn {
  border-radius: 100%;
  color: #fff;
  object-fit: contain;
  background: linear-gradient(to right, #ff105f, #ffad06);
  margin-right: 1px;
  border: none;
}

.detail_btn {
  border-radius: 100%;
  color: #fff;
  object-fit: contain;
  background: linear-gradient(to right, #000080, #008000);
  margin-left: 1px;
  border: none;
}

.download_btn {
  border-radius: 5px;
  color: #fff;
  object-fit: contain;
  padding: 8px 15px;
  margin: 1px 1px;
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: #0798f8;
  align-items: center;
  scroll-margin-right: 200px;
  border: none;
}

.tableRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  color: #fff;
}
