*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container:hover .top:before,
.container:active .top:before,
.container:hover .bottom:before,
.container:active .bottom:before,
.container:hover .top:after,
.container:active .top:after,
.container:hover .bottom:after,
.container:active .bottom:after{
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay: 0s;
}
.container:hover .center,
.container:active .center{
    opacity: 1;
    transition-delay: 0.2s;
}

.top:before,
.bottom:before,
.top:after,
.bottom:after{
    content: "";
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.455, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
}

.top:before{
    transform: rotate(45deg);
    background: #e46569;
}

.top:after{
    transform: rotate(135deg);
    background: #ecaf81;
}

.bottom:before{
    transform: rotate(-45deg);
    background: #60b8d4;
}

.bottom:after{
    transform: rotate(-135deg);
    background: #3745b5;
}

.center{
    position: absolute;
    width: 400px;
    height: 400px;
    top:50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;
}

.center input{
    width: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.center button{
    position: relative;
    width: 100%;
    margin: 5px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
    color: #000;
    transition: 0.5s;
    border: 1px solid #ec1840;
}

.center button:hover{
    border: 1px solid transparent;
    color: #fff;
    background: #ec1840 url(https://64.media.tumblr.com/a94e171868fa708bef4ed17741873fbf/tumblr_o9d6yoRGfY1vxgutio1_500.gifv);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate 0.8s steps(8) forwards;
}

@keyframes animate {
    0%{
        background-position-y: 0 ;
    }
    100%{
        background-position-y: -480px;
    }
}


