@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: 'Raleway', sans-serif;
}
